n8n-workflows/auto-pdf-generation.json
{
  "name": "Auto PDF Generation on Translation Complete",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "batch-complete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-batch-complete",
      "name": "Translation Complete Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "batch-complete"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1d7c287-7b4e-4e1a-9a1e-5f5c8b4a9b2c",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-status",
      "name": "Check Job Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.pdfUrl }}",
        "options": {
          "response": {
            "response": {
              "neverError": false,
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "download-pdf",
      "name": "Download Generated PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"pdf_generated\", \"jobId\": $('Translation Complete Webhook').item.json.jobId, \"message\": \"PDF downloaded successfully\" } }}"
      },
      "id": "success-response",
      "name": "PDF Generated Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"ignored\", \"reason\": \"Job not completed\", \"jobId\": $('Translation Complete Webhook').item.json.jobId } }}"
      },
      "id": "ignored-response",
      "name": "Job Not Completed Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 360]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "combine-responses",
      "name": "Combine Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Translation Complete Webhook": {
      "main": [
        [
          {
            "node": "Check Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Job Status": {
      "main": [
        [
          {
            "node": "Download Generated PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Job Not Completed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Generated PDF": {
      "main": [
        [
          {
            "node": "PDF Generated Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Generated Response": {
      "main": [
        [
          {
            "node": "Combine Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Not Completed Response": {
      "main": [
        [
          {
            "node": "Combine Responses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "auto-pdf-generation"
}