n8n-workflows/simple-pdf-translation.json
{
  "name": "Simple PDF Translation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pdf-translate",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "PDF Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "pdf-translate"
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5001/api/batch/translate",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "files",
              "value": "={{ $binary.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "batch-translate",
      "name": "Send to Translation API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"jobId\": $json.jobId, \"message\": \"Translation started for PDF\" } }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "PDF Upload Webhook": {
      "main": [
        [
          {
            "node": "Send to Translation API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Translation API": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "simple-pdf-translation"
}